<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="#">
  <title>TelSchool Main</title>
  <link href="static/css/main.css" rel="stylesheet" type="text/css">
  <link href="static/css/starter-template.css" rel="stylesheet" type="text/css">
  <link href="static/css/sticky-footer.css" rel="stylesheet" type="text/css">
  <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="static/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">

  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/jquery.dataTables.min.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/main.html.js"></script>

  <link rel="import" id="link_administrator_toolbar"  href="static/html/administrator_toolbar.html">
  <link rel="import" id="link_user_toolbar"           href="static/html/user_toolbar.html">
  <link rel="import" id="link_modal_errore"           href="static/html/modal_errore.html">
  <link rel="import" id="link_modal_registrazioni_pendenti" href="static/html/modal_registrazioni_pendenti.html">
  <link rel="import" id="link_modal_registrazioni_manuali"  href="static/html/modal_registrazioni_manuali.html">

  <link rel="import" id="link_modal_anagrafiche_studenti"   href="static/html/modal_anagrafiche_studenti.html">
  <link rel="import" id="link_modal_anagrafiche_genitori"   href="static/html/modal_anagrafiche_genitori.html">
  <link rel="import" id="link_modal_anagrafiche_dipendenti" href="static/html/modal_anagrafiche_dipendenti.html">

  <link rel="import" id="link_messages_sent_view"           href="static/html/messages_sent_view.html">
</head>

<body class="bg">
  <h1>TelSchool</h1>

  <div id="main_container" class="container">
  </div>

  <footer class="footer">
    <div class="container" align="center">
      <span class="text-muted">&copy; 2018 TelSchool - Realizzato da Giovanni Torsello in collaborazione con Francesco Carratta</span>
    </div>
  </footer>
</body>
</html>