body{ background-image:url("/static/images/background.jpg"); background-repeat: repeat; background-position: left; background-size:cover; padding:10px;}

/* correction black background on modal dialog */
.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}

.modal-dialog {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 100%;
    transform: translateY(-20%);
    transform: translateX(-50%);
}

.modal-content {
    width: 80em;
}

.app-title {
    color: blue;
}