<html>
<body>
<div id="administrator_toolbar"  class="administrator_toolbar">
    <div class="alert alert-warning" role="alert">
        <button id="btn_anagrafiche_studenti"   class="btn" data-toggle="modal" data-target="#anagrafiche_studenti">Studenti</button>
        <button id="btn_anagrafiche_genitori"   class="btn" data-toggle="modal" data-target="#anagrafiche_genitori">Genitori</button>
        <button id="btn_anagrafiche_dipendenti"   class="btn" data-toggle="modal" data-target="#anagrafiche_dipendenti">Dipendenti</button>
        <button id="btn_registrazioni_pendenti"   class="btn" data-toggle="modal" data-target="#registrazioni_pendenti">Registrazioni pendenti</button>
        <button id="btn_registrazione_manuale"    class="btn" data-toggle="modal" data-target="#registrazioni_manuali">Registra manualmente</button>
    </div>

    <script>            

    </script>
</div>
</body>
</html>
