<html>
<body>
    <div class="modal fade" id="anagrafiche_studenti" role="dialog">
        <div class="modal_wait_for_search" id="modal_wait_for_search"></div>            
        <script>
            var datatable_studenti;
            $(document).ready(function () {
                datatable_studenti = $('#table_studenti').DataTable(); //End datatable
                //Table events binding
                $('#table_studenti tbody').on('click', 'tr', function () {
                    var data = datatable_studenti.row(this).data();
                    //Open form variing data
                });

            });

            $("#file_upload_studenti").change(function () {
                console.log("File student data change.");
                var fileName = $(this).val();
                var formData = new FormData();                
                var myFile =($("#file_upload_studenti"))[0].files[0];   
                console.log("File: ",myFile);                             
                formData.append('file', myFile);
                console.log(formData);                
                jQuery.ajax({
                    url: '/import/studenti',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',                    
                    success: function (data) {
                        alert(data);
                    }
                });
            });

            $("#file_upload_datiscolastici").change(function () {
                console.log("File classroom data change.");
                var fileName = $(this).val();
                var formData = new FormData();                
                var myFile =($("#file_upload_datiscolastici"))[0].files[0];   
                console.log("File: ",myFile);                             
                formData.append('file', myFile);
                console.log(formData);                
                jQuery.ajax({
                    url: '/import/datiscolastici',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',                    
                    success: function (data) {
                        alert(data);
                    }
                });
            });

            //Loading data from server
            $("#find").click(function () {
                datatable_studenti.clear().draw();
                console.log("Loading data from server");
                $.ajax({
                    url: '/search/studenti', method: 'POST',
                    success: function (response) {
                        response.data.forEach(element => {
                            datatable_studenti.row.add([
                                element.id,
                                element.nome,
                                element.cognome,
                                element.cod_fisc,
                                element.classe+element.sezione,                                
                                element.email,
                                element.phone,
                            ]).draw();
                        });
                    },
                    error: function (response) { console.log("Search students fail."); }
                });
            });

        </script>

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Header-->
                <div class="modal-header">
                    <h5 class="modal-title">Anagrafica Studenti</h5>
                    <button id="find" type="button" class="btn btn-secondary">Cerca</button>                    
                </div>                
                
                <!-- Body-->
                <div class="modal-body">
                    <table id="table_studenti" class="display">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Cod. Fiscale</th>
                                <th>Classe e Sezione</th>                                
                                <th>Email</th>
                                <th>Telefono</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <!-- Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>