<html>

<body>
    <div class="modal fade centered" id="anagrafiche_genitori" role="dialog">
        <div class="modal_wait_for_search" id="modal_wait_for_search"></div>            
        <script>
            var datatable_genitori;
            $(document).ready(function () {
                datatable_genitori = $('#table_genitori').DataTable(); //End datatable
                //Table events binding
                $('#table_genitori tbody').on('click', 'tr', function () {
                    var data = datatable_genitori.row(this).data();
                    //Open form variing data
                    console.log(data);
                });

            });

            $("#file_upload").change(function () {
                console.log("File change.");
                var fileName = $(this).val();
                var formData = new FormData();                
                var myFile =($("#file_upload"))[0].files[0];                                
                formData.append('file', myFile);
                console.log(formData);                
                jQuery.ajax({
                    url: '/upload_file',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    method: 'POST',                    
                    success: function (data) {
                        alert(data);
                    }
                });
            });

            //Loading data from server
            $("#find").click(function () {
                datatable_genitori.clear().draw();
                console.log("Loading data from server");
                $.ajax({
                    url: '/search/genitori', method: 'POST',
                    success: function (response) {                        
                        response.data.forEach(element => {
                            element.cl="";element.sez="";
                            datatable_genitori.row.add([
                                element.id,
                                element.cognome + " " + element.nome,
                                element.cl + element.sez,
                                element.cod_fisc,
                                element.phone,
                                element.email                                
                            ]).draw();
                        });
                    },
                    error: function (response) { console.log("Search students fail."); }
                });
            });

        </script>

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- Header-->
                <div class="modal-header">
                    <h5 class="modal-title">Anagrafica Genitori</h5>
                    <button id="find" type="button" class="btn btn-secondary">Cerca</button>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="file_upload_span">Importa</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="file_upload" name="file_input" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="file_upload">Scegli il file</label>
                        </div>
                    </div>
                </div>

                <!-- Body-->
                <div class="modal-body">
                    <table id="table_genitori" class="display">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Cognome e nome</th>
                                <th>Classe e sezione</th>
                                <th>C.F. Genitore</th>
                                <th>Telefono</th>
                                <th>Email</th>                                
                            </tr>
                        </thead>
                    </table>
                </div>

                <!-- Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>